@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
:root{
    --font1: inter, sans-serif;
    --font2: Lexend deca, sans-serif;
    --primary-vdb: hsl(233, 47%, 7%);
    --primary-ddb: hsl(244, 38%, 16%);
    --primary-sv: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --st-white1: hsla(0, 0%, 100%, 0.75);
    --st-white2: hsla(0, 0%, 100%, 0.6);
    --font-size: 15px;
}
body{
    background-color: var(--primary-vdb);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: var(--primary-sv);
    width: 80vw;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}
.image{
    width: 50%;
    height: 100%;
    background-color: var(--primary-sv);
    mix-blend-mode: multiply;
}
.info-div{
    background-color: var(--primary-ddb);
    height: 100%;
    width: 50%;
}
.inner-item{
    margin-left: 2.5vw;
    margin-right: 4vw;
    margin-top: 10vh;
}
.interactions{
    display: flex;
    justify-content: space-between;
    margin-top: 8vh;
    margin-right: 7vw;
}
.heading{
    font-family: var(--font1);
    font-weight: 700;
    color: var(--white);
    font-size: 2.5em;
}
.text{
    font-family: var(--font2);
    font-weight: 400;
    color: var(--st-white1);
    font-size: 1.2em;
    margin-top: 2.5vh;
    line-height: 150%;
}
.interactions-item{
    font-family: var(--font1);
    font-weight: 400;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
.stats{
    color: var(--white);
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}
.stats-heading{
    color: var(--st-white2);
    font-size: 1em;
}